{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="row">
          
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Current Mapppings</h4>
                <p class="card-category"> Below are the current students you are mapped to.</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Year Of Study</th>
                                <th>Tution Amount</th>   
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mapping in active_mappings %}
                            <tr>
                                <td>{{ mapping.studentFullName }}</td>
                                <td>{{ mapping.studentGender }}</td>
                                <td>{{ mapping.yearOfStudy }}</td>
                                <td>{{ mapping.tuitionAmountPerSemester }}</td>
                                <td>{{ mapping.status }}</td>
                                <td>
                                    <a href="{% url 'end_mapping' mapping.id %}"><button class="btn btn-dark btn-sm"><i class="fa fa-close"></i> End</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
</div>


{% endblock %}